label {
    margin: 0;
}

.content {
    min-height: calc(100vh - 822px);
}

/*********************** login.html *********************/
.log-forms {
    padding: 60px 0;
    overflow: hidden;
}

.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.title img {
    width: 100%;
    max-width: 17px;
    height: 17px;
    margin-right: 10px;
}

.title div {
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
    font-family: 'raleway-b';
    line-height: 29px;
}

.tit {
    font-size: 14px;
    font-family: 'raleway-m';
}



.email {
    position: relative;
    margin-bottom: 29px;
}

.email .wrong {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    right: 0;
}

.email .wrong img {
    width: 100%;
    max-width: 12px;
    height: 12px;
    margin-right: 12px;
}

.email .wrong span {
    color: #CFBDA8;
    line-height: 16px;
}

.correct {
    position: absolute;
    top: 0;
    right: 0;
}

.correct img {
    width: 100%;
    max-width: 17px;
    height: 11px;
}

.input {
    border-bottom: 1px solid #ECECEC;
    width: 100%;
    max-width: 100%;
    padding-bottom: 19px;
}

.input::placeholder {
    color: #000;
    opacity: 0.3;
    font-size: 14px;
    font-family: 'raleway-m';
    text-transform: uppercase;
    line-height: 16px;
}

.form-group {
    margin-bottom: 30px;
    position: relative;
}

.form-group > span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: #CFBDA8;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.form-group input:focus + span {
    width: 100%;
}

.remeber-me {
    margin-bottom: 29px;
}

.custom-checkbox {
    position: relative;
    display: flex;
    align-items: center;
}

.custom-checkbox input[type='checkbox'] {
    display: none;
}

.custom-checkbox i {
    border: 3px solid #000;
    overflow: hidden;
    padding: 3px;
    padding: 3px;
    width: 100%;
    max-width: 12px;
    height: 12px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1px;
    left: 0;
}

.custom-checkbox i::before {
    color: #000;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.custom-checkbox input:checked + i::before {
    color: #fff;
}

.remeber-me .remeber span {
    margin-left: 15px;
    line-height: 16px;
}

.forgot-pass a {
    color: #000;
    position: relative;
    line-height: 16px;
}

.forgot-pass a:hover {
    color: #000;
}

.forgot-pass a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #333;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.forgot-pass a:hover:before {
    visibility: visible;
    background-color: #000;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.log-btn {
    padding: 22px 24px;
    width: 255px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    position: relative;
    transition: 0s;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -ms-transition: 0s;
    -o-transition: 0s;
    overflow: hidden;
    text-transform: uppercase;
}

.log-btn:focus {
    outline: 0;
}

.log-btn::before {
    position: absolute;
    content: '';
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform-origin: left;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.log-btn:hover::before {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transition:  0.5s ease;
    -webkit-transition:  0.5s ease;
    -moz-transition:  0.5s ease;
    -ms-transition:  0.5s ease;
    -o-transition:  0.5s ease;
}

.log-btn:hover {
    box-shadow: 0 0 5px rgba(0,0,0,.2)
}

.log-btn span {
    color: #fff;
    line-height: 16px;
}

.log-btn:hover span {
    color: #000;
    position: relative;
    z-index: 99;
}

.log-btn img {
    width: 35px;
    /* filter: grayscale(100%); */
}

.log-btn:hover img {
    z-index: 99;
    position: relative;
    /* filter: grayscale(0);
    -webkit-filter: grayscale(0); */
}

.log-footer {
    margin-top: 30px;
}

/* .log-footer .title {
    margin-bottom: 0;
} */

/* Social Medai */
.social ul {
    margin-bottom: 0;
    display: flex;
    /* flex-wrap: wrap; */
}

.social ul li a:hover {
    background: #000;
}

.social ul li a {
    color: #000;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social ul li {
    margin-right: 30px;
}

.social ul li:last-child {
    margin-right: 0;
}

.social ul li i {
    font-size: 30px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+51,cfbda8+54 */
   background: #000000; /* Old browsers */
   background: -moz-linear-gradient(left, #000000 51%, #cfbda8 54%); /* FF3.6-15 */
   background: -webkit-linear-gradient(left, #000000 51%,#cfbda8 54%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to right, #000000 51%,#cfbda8 54%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#cfbda8',GradientType=1 ); /* IE6-9 */
       -webkit-background-clip: text;
          -moz-background-clip: text;
            -o-background-clip: text;
               background-clip: text;
       -webkit-text-fill-color: transparent;
          -moz-text-fill-color: transparent;
            -o-text-fill-color: transparent;
               text-fill-color: transparent;
   background-size: 250%;
}

.social ul li a:hover i {
    background-position: 100% 0;
    font-size: 16px
}

.social ul li i.fa-phone {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

/* Start Side info */
.side-info {
    background-color: #000;
}

.side-info::before {
    content: '';
    width: 1000px;
    position: absolute;
    height: 100%;
    background-color: #000;
    z-index: -1;
    overflow: visible;
    top: 0;
}

.side-info.right::before {
    left: calc(100% - 1px);
}

.side-info.left::before {
    right: calc(100% - 1px);
}

.log-info {
    margin: 190px 0 190px 190px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.big-title {
    width: 100%;
    max-width: 253px;
    color: #fff;
    font-size: 36px;
    font-family: 'raleway-b';
    line-height: 42px;
    text-transform: uppercase;
}

.log-info .personal-details {
    font-size: 16px;
    color: #fff;
    width: 100%;
    max-width: 198px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 26px;
}

.log-info .log-btn {
    background-color: #fff;
    border: 1px solid #CFBDA8;
    display: flex;
    align-items: center;
}

.log-info .log-btn::before {
    background-color: #000;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.log-info .log-btn:hover {
    box-shadow: 0 0 5px rgba(255,255,255,.9)
}

.log-info .log-btn span {
    color: #000;
    line-height: 16px;
    /* padding: 0 137px 0 0; */
}

.log-info .log-btn:hover span {
    color: #fff;
    z-index: 99;
}

.log-info .log-btn img {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.log-info .log-btn:hover img {
    z-index: 99;
}

/* Start Business User submit Modal */
.custom-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.custom-modal.show {
    z-index: 9999;
    visibility: visible;
    opacity: 1;
}

.custom-modal .overlay {
    position: absolute;
    width: 0;
    height: 3px;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .9);
    z-index: 99999;
    overflow: hidden;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.custom-modal.show .overlay {
    animation: over 1s 1 forwards linear;
    -webkit-animation: over 1s 1 forwards linear;
}

@keyframes over {
    0% {
        width: 0;
        height: 3px;
    }

    50% {
        width: 100%;
        height: 3px;
    }
    
    70% {
        width: 100%;
        height: 3px;
    }

    100% {
        width: 100%;
        height: 100%;
    }
}

.custom-modal .modal-card {
    width: 90%;
    max-width: 360px;
    position: absolute;
    z-index: 999999;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -o-transform: translate(-50%, -50%) scale(0);
    border: 1px solid #ECECEC;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.custom-modal.show .modal-card {
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition-delay: 1.2s;
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
}

.custom-modal .modal-card .card-head {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

.custom-modal .modal-card .card-head img.close-img {
    width: 20px;
    cursor: pointer;
}

.custom-modal .modal-card .card-content {
    padding: 10px 47px 50px;
}

.custom-modal .modal-card .card-content .joining {
    font-size: 24px;
    width: 210px;
    margin: 0 auto 30px;
    text-align: center;
    text-transform: uppercase;
    max-width: 100%;
    line-height: 36px;
}

.custom-modal .modal-card .card-content p {
    margin-bottom: 30px;
    text-align: center;
    line-height: 26px;
}

.custom-modal .modal-card .card-content button#skip {
    margin-bottom: 20px;
}

.custom-modal .modal-card .card-content button#skip:hover {
    background-color: #fff;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.custom-modal .modal-card .card-content button#guide-me {
    height: 60px;
}

.custom-modal .modal-card .card-content button#guide-me:hover {
    background-color: #fff;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.custom-modal .modal-card .card-content button#guide-me img {
    width: 18px;
    height: 19px;
}
/* End Business User submit Modal */




/*********************************************** register.html **********************************************/
.register .log-info {
    margin: 190px 190px 190px 0;
}

.register .log-info .personal-details {
    max-width: 253px;
}

.custom-radio {
    position: relative;
    display: flex;
    align-items: center;
}

.custom-radio input {
    display: none;
}

.custom-radio i {
    border: 3px solid #000;
    overflow: hidden;
    padding: 3px;
    padding: 3px;
    width: 100%;
    max-width: 12px;
    height: 12px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 4px;
    left: 0;
}

.custom-radio i::before {
    color: #000;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.custom-radio input:checked + i::before {
    color: #fff;
}

.register .tabs {
    margin-bottom: 50px;
}

.register .tabs span,
.register .tabs span {
    margin-left: 15px;
}

.sign-me {
    margin-bottom: 31px;
}

.sign-me span {
    margin-left: 15px;
    font-size: 14px;
    line-height: 16px;
}

.register .drop-container {
    position: absolute;
    top: 0;
    right: 0;
}

.register .drop-container .drpo-btn {
    font-family: 'raleway-m';
    font-size: 14px;
    line-height: 16px;
    color: #000;
}

.register .drop-container .drpo-btn:hover {
    color: #000;
}

.register .drop-container .drpo-btn img {
    width: 10px;
    max-width: 100%;
    margin-left: 10px;
}

.register .drop-container .drop-mnu {
    z-index: 1;
    padding: 5px;
}

.register .drop-container .drop-mnu ul li a {
    font-family: 'raleway-m';
    font-size: 14px;
    line-height: 16px;
    white-space: nowrap;
    color: #000;
}

.register .drop-container .drop-mnu ul li a:hover {
    color: #000;
}

.register .location-drop-btn::before {
    bottom: 0;
}

.register .location-drop-btn::after {
    bottom: 0;
}

.m-form .log-footer .title {
    margin-bottom: 0;
}

/* Uploadin Photo */
.upload-img {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.uploading {
    position: relative;
    background-color: #000;
    width: 114px;
    height: 114px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
    transition: 0s;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -ms-transition: 0s;
    -o-transition: 0s;
    overflow: hidden;
    margin-right: 8px;
}

.uploading::before {
    position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

.uploading:hover::before {
    -webkit-animation: shine .75s;
	animation: shine .75s;
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

.uploading:hover {
    box-shadow: 0 0 5px rgba(0,0,0,.2)
}

.uploading input[type='file'] {
    display: none;
}

.uploading img {
    width: 100%;
    max-width: 17px;
    height: 17px;;
}

.upload-img .add-img .type {
    opacity: 0.3;
}

.signing-up {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.signing-up .signing-text {
    margin-left: 30px;
}

/* Business User Form */
.m-form {
    display: none;
}

.signing-up .signing-text a {
    text-decoration: underline !important;
    color: #000;
    display: block;
}

#img-preview img:not(.add-icon) {
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.b-form .log-footer {
    margin-top: 32px;
}

.b-form .log-footer .title {
    margin-bottom: 0;
}

.a-start {
    align-items: flex-start !important;
}

.a-center {
    align-items: center !important;
}


/********************************************** reset-password.html **********************************/
.reset-password .title {
    align-items: baseline;
}

.reset-password .title div {
    width: 135px;
    max-width: 100%;
}

.resetPass-head p {
    line-height: 26px;
    margin-bottom: 30px;
}

.log-btn img.cancel {
    width: 17px;
}

.reset-password .email {
    margin-bottom: 30px;
}

.back-login {
    margin-bottom: 30px;
}

.back-login a {
    text-transform: uppercase;
    color: #000;
    position: relative;
}

.back-login a:hover {
    color: #000;
}

.back-login a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #333;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.back-login a:hover:before {
    visibility: visible;
    background-color: #000;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.reset-password .form-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/********************************************** confirmation-message.html **********************************/
.confirm-msg .log-info {
    margin: 190px 190px 190px 0;
}

.confirm-msg .big-title {
    width: 100%;
    max-width: 183px;
    color: #fff;
    font-size: 36px;
    font-family: raleway-b;
    line-height: 42px;
    margin-right: auto;
    text-transform: uppercase;
}

.confirm-msg .log-info .personal-details {
    max-width: 253px;
}

/* check Your Email */
.confirm-message .check-email {
    font-size: 24px;
    width: 145px;
    max-width: 100%;
    margin-bottom: 30px;
    text-transform: uppercase;
    line-height: 44px;
}

.confirm-message .chck-email p {
    line-height: 26px;
}

/* Didn't Recieve The Email */
.confirm-message .not-recieve {
    font-size: 24px;
    line-height: 44px;
    width: 100%;
    max-width: 183px;
    margin-bottom: 30px;
}

.confirm-message .recieve-email p {
    font-family: 'raleway-m';
    line-height: 26px;
    margin-bottom: 30px;
}

.confirm-message .recieve-email div.or {
    text-transform: uppercase;
    margin-bottom: 30px;
    line-height: 16px;
}

.confirm-message .recieve-email .log-btn.resend {
    background-color: #fff;
    border: 1px solid #CFBDA8;
}

.confirm-message .recieve-email .log-btn.resend::before {
    background-color: #000;
}

.confirm-message .recieve-email .log-btn.resend span {
    color: #000;
}

.confirm-message .recieve-email .log-btn.resend:hover span {
    color: #fff;
}

.confirm-message .recieve-email .log-btn img.cancel {
    width: 28px;
}



/********************************************** new-password.html **********************************/
.new-pass p.reset-pass-request {
    line-height: 26px;
}



/******************************************** myProfile-wins.html **********************************/
.myProfile-tabs {
    padding: 20px 0;
    border-bottom: 1px solid rgba(112,112,112,.1);
    font-size: 0;
}

.myProfile-tabs .prof-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.myProfile-tabs .prof-tabs li .tabs-links {
    margin: 0 15px;
    color: #000;
    font-size: 12px;
    transition: .5s ease;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+51,cfbda8+54 */
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(left, #000000 51%, #cfbda8 54%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #000000 51%,#cfbda8 54%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #000000 51%,#cfbda8 54%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#cfbda8',GradientType=1 ); /* IE6-9 */
        -webkit-background-clip: text;
           -moz-background-clip: text;
             -o-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent;
           -moz-text-fill-color: transparent;
             -o-text-fill-color: transparent;
                text-fill-color: transparent;
    background-size: 250%;
    text-transform: uppercase;
    overflow: hidden; 
    display: block;
    line-height: 14px;
    white-space: nowrap;
}

.myProfile-tabs .prof-tabs li .tabs-links.active,
.myProfile-tabs .prof-tabs li .tabs-links:hover
{
    background-position: 100% 0;
}

/* Start Wins Content */
.wins-content {
    padding: 60px 0 30px;;
}

.profile-details .user-data .user-img {
    width: 122px;
    height: 122px;
    margin-bottom: 20px;
}

.profile-details .user-data .user-img img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.profile-details .user-data .user-name {
    font-size: 30px;
    margin-bottom: 19px;
    text-transform: capitalize;
}

.profile-details .info-row {
    margin-bottom: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-details .info-row span.tit {
    text-transform: uppercase;
}

.profile-details .info-row span.num {
    font-size: 14px;
    font-family: 'sans-m';
}

.profile-details .user-info {
    margin-top: 11px;
}

.profile-details .user-info .bio {
    font-size: 24px;
    margin-bottom: 20px;
}

.profile-details .create-set {
    margin-top: 30px;
}

.profile-details .create-set .log-btn img {
    width: 17px;
    height: 17px;
    max-width: 100%;
}

.box {
    background-color: #fff;
    margin-bottom: 30px;
    position: relative;
}

.box .box-img {
    width: 255px;
    max-width: 100%;
    height: 468px;
    border-bottom: 1px solid #ECECEC;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.box .box-img img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.box .wins-cup {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 0;
    border-bottom: 1px solid #ECECEC;
}

.box .wins-cup .cup-img {
    width: 59px;
    height: 52px;
    max-width: 59px;
    margin-right: 36px;
}

.box .wins-cup .cup-img img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.box .wins-cup .tit {
    line-height: 16px;
}

.box .wins-cup .cup-text {
    font-size: 0;
}

.box .wins-cup .cup-text .top {
    margin-bottom: 20px;
}

.dot {
    width: 4px;
    height: 4px;
    background-color: #000;
    margin: 0 5px;
    border: 1px solid #000;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
}

.box .box-icons {
    padding: 30px 0;
}

.box .box-icons .heart img {
    width: 25px;
    height: 22px;
    max-width: 100%;
}



/******************************************** myProfile-following.html **********************************/
.following-content {
    padding: 60px 0 30px;
}

.user-blocks {
    text-align: center;
}

.user-box {
    /* border: 1px solid #ECECEC; */
    border: 1px solid #ECECEC;
    padding: 30px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, .1); */
}

.user-box .user-img {
    width: 122px;
    height: 122px;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.user-box .user-img img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.user-box .user-name {
    font-size: 24px;
    margin-bottom: 14px;
    text-transform: capitalize;
    line-height: 44px;
}

.user-box .user-box-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    outline: 0;
}

.user-box .user-box-btn img {
    width: 7px;
    height: 5px;
    max-width: 100%;
    max-height: 100%;
    margin-right: 3px;
}

.user-box .user-box-btn .follow {
    display: none;
}

.user-box .user-box-btn span {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}



/******************************************** myProfile-following.html **********************************/
.collections-content {
    padding: 60px 0 30px;
}

.collections-blocks {
    text-align: center;
}

.collec-btn {
    width: 255px;
    height: 209px;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    background-color: #ECECEC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    outline: 0;
}

.collec-btn:focus {
    outline: 0;
}

.collec-btn img {
    width: 26px;
    height: 26px;
    max-width: 100%;
    margin-bottom: 8px;
}

.collec-btn .tit {
    width: 78px;
    max-width: 100%;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}

.collections-content .custom-modal .modal-card {
    max-width: 730px;
}

.collections-content .custom-modal .modal-card .card-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px 30px 95px;
}

.collections-content .custom-modal .modal-card .card-head .tit {
    font-size: 24px;
    line-height: 44px;
}

.collections-content .custom-modal .modal-card .card-content {
    padding: 0 95px 30px;
}

.collections-content .custom-modal .modal-card .card-content .form-group {
    margin-bottom: 30px;
}

.collections-content .custom-modal .modal-card .card-content .form-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collections-content .log-btn {
    width: 255px;
    height: 60px;
    max-height: 100%;
}

.collections-content .log-btn span {
    line-height: 16px;
}

.collections-content .log-btn[type='reset'] {
    background-color: #fff;
    border: 1px solid #CFBDA8;
    display: flex;
    align-items: center;
}

.collections-content .log-btn[type='reset']::before {
    background-color: #000;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.collections-content .log-btn[type='reset']:hover {
    box-shadow: 0 0 5px rgba(255,255,255,.9)
}

.collections-content .log-btn[type='reset'] span {
    color: #000;
    /* padding: 0 137px 0 0; */
}

.collections-content .log-btn[type='reset']:hover span {
    color: #fff;
    z-index: 99;
}

.collections-content .log-btn[type='reset']:hover img {
    z-index: 99;
}

.collections-content .log-btn[type='reset'] img {
    width: 17px;
    justify-items: 17px;
    max-width: 100%;
}

.collec-box .box-title {
    text-align: left;
    font-size: 24px;
    line-height: 44px;
    margin-top: 30px;
    text-transform: uppercase;
}

.collec-box {
    margin-bottom: 30px;
}

.collec-box a img {
    object-fit: cover;
}



/******************************************** myProfile-my-sets.html **********************************/
.box .box-tit {
    font-family: 'raleway-m';
    font-size: 24px;
    line-height: 36px;
    margin: 30px 0 10px;
    width: 185px;
    max-width: 100%;
}

.box .box-tit a {
    color: #000;
}

.box .box-tit a:hover {
    color: #000;
}

.box .box-p {
    font-family: 'raleway';
    font-size: 16px;
    line-height: 26px;
}

.box .btns {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all ease .3s;
    transform-origin: bottom;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.box:hover .btns {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
}

.box .btns .log-btn {
    width: 160px;
}

.box .btns .log-btn.edit {
    margin-bottom: 30px;
}

.box .btns .log-btn.edit img {
    width: 19px;
    height: 19px;
    max-width: 100%;
    filter: grayscale(0);
}

.box .btns .log-btn.delete img {
    width: 29px;
    height: 26px;
    max-width: 100%;
    filter: grayscale(0);
}

.box .price-cup {
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #000;
    width: 65px;
    height: 65px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box .price-cup img {
    width: 31px;
    height: 27px;
    max-width: 100%;
}



/******************************************** myProfile-my-sets-details.html **********************************/
.sets-details {
    padding: 60px 0 30px;
}

.sets-details .set-img {
    width: 444px;
    height: 816px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sets-details .set-img img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.sets-details .set-title {
    font-family: 'raleway-b';
    font-size: 24px;
    line-height: 26px;
    width: 184px;
    max-width: 100%;
    margin-bottom: 30px;
}

.sets-details .set-desc {
    font-family: 'raleway';
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}

.sets-details .set-data .btns .log-btn {
    margin-bottom: 30px;
    justify-content: center;
    padding: 22px 24px;
}

.sets-details .set-data .btns .log-btn span {
    font-family: 'raleway-m';
    font-size: 14px;
    line-height: 16px;
}

.sets-details .set-data .btns .log-btn.delete,
.sets-details .set-data .btns .log-btn.edit {
    justify-content: space-between;
    height: 60px;
}

.sets-details .set-data .btns .log-btn.edit img {
    width: 19px;
    height: 19px;
    max-width: 100%;
}

.sets-details .set-data .btns .log-btn.delete img {
    width: 29px;
    height: 26px;
    max-width: 100%;
}




/******************************************** help.html **********************************/
.help-head {
    padding: 100px 0;
    background-color: #000;
    font-size: 0;
    line-height: 16px;
    overflow: hidden;
}

.help-head .left {
    max-width: 100%;
}

.tite {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
    font-size: 0;
    line-height: 29px;
}

.tite img {
    width: 17px;
    height: 17px;
    max-width: 100%;
    margin-right: 10px;
}

.tite div {
    font-size: 24px;
    font-family: 'raleway-b';
    color: #fff;
    text-transform: uppercase;
}

.help-head .left .behind-u {
    font-size: 102px;
    font-family: 'raleway-b';
    color: #fff;
    text-transform: uppercase;
    line-height: 120px;
}

.faqs .tit {
    margin-bottom: 20px;
    color: #fff;
}

.faqs .tit:last-child {
    margin-bottom: 0;
    line-height: 16px;
}

/* Start Collapsing */
.collapseing {
    padding: 100px 0;
}

.collapse-box {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 30px;
}

.collapse-box:last-child {
    margin-bottom: 0;
}

.collapse-box .collapse-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.collapse-box .collapse-btn .btn-txt {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.collapse-box .collapse-btn .btn-txt img {
    width: 17px;
    height: 17px;
    max-width: 100%;
    margin-right: 10px;
}

.collapse-box .collapse-btn .btn-txt span {
    font-size: 24px;
    font-family: 'raleway-b';
    text-transform: uppercase;
    line-height: 29px;
}

.collapse-box .collapse-btn .collape-icon {
    width: 12px;
    height: 12px;
    max-width: 100%;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.collapse-box .collapse-btn .collape-icon img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: block;
}

.collapse-box .collapse-content {
    font-size: 16px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.collapse-box.active .collapse-content {
    max-height: 200px;
    overflow: hidden;
    padding-top: 30px;
}

.collapse-box.active .collapse-btn .collape-icon {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}


/******************************* terms-of-services.html **************************/
.terms-head {
    padding: 100px 0;
    background-color: #000;
}

.terms-head .tite {
    margin-bottom: 0;
}

.terms-content {
    padding: 108px 0 100px;
}

.terms-content p {
    margin-bottom: 30px;
    line-height: 26px;
}

.terms-content p.t-title {
    font-size: 24px;
    font-family: "raleway-b";
    text-transform: uppercase;
    line-height: 29px;
}

.terms-content p:last-child {
    margin-bottom: 0;
}



/******************************* data-feed.html **************************/
.data-feed-head {
    padding: 100px 0;
    background-color: #000;
}

.data-feed-head .tite {
    margin-bottom: 0;
}

.data-feed-content {
    padding: 60px 0;
}

.data-feed-content .feed-table {
    max-width: 100%;
}

.data-feed-content table {
    width: 100%;
    max-width: 100%;
    overflow: scroll;
}

.data-feed-content table thead th {
    padding: 0 95px 0 30px;
}

.data-feed-content .tite {
    margin-bottom: 0;
}

.data-feed-content .tite div {
    color: #000;
}

.data-feed-content table tbody tr {
    border-bottom: 1px solid rgba(0, 0, 0, .10);
}

.data-feed-content table tbody tr:last-child {
    border-bottom: 0;
}

.data-feed-content table tbody td {
    padding: 30px 95px 46px 30px;
    vertical-align: top;
}

.data-feed-content table tbody tr:first-child td {
    border-top: 0;
}

.data-feed-content table tbody td .t-tit {
    font-size: 24px;
    line-height: 44px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.data-feed-content table tbody td .required {
    line-height: 16px;
}

.data-feed-content table tbody td p {
    line-height: 26px;
    width: 555px;
    max-width: 100%;
}

.data-feed-content table tbody td p.ex {
    width: 255px;
}

.data-feed-content table tbody td p.ex a {
    color: #000;
    max-width: 100%;
    word-break: break-word;
}

.data-feed-content table tbody td p.ex a:hover {
    color: #000;
}