@media (max-width: 922px) {
    /********** login.html ************/
    .log-forms {
        padding: 30px 0;
    }

    .log-form {
        padding: 0 21px;
    }

    .title img {
        max-width: 17px;
        height: 17px;
    }
    
    .title div {
        font-size: 24px;
    }

    .tit {
        font-size: 12px;
    }

    .remeber-me .col-6:nth-child(2) {
        padding-right: 0;
    }

    .log-btn {
        padding: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .log-btn span {
        display: none;
    }

    .social {
        margin: 0 0 30px;
    }

    .custom-checkbox i {
        top: 2px;
    }

    /* side-info */
    .side-info::after {
        content: '';
        width: 1000px;
        position: absolute;
        height: 100%;
        background-color: #000;
        z-index: 9999999999999999;
        overflow: visible;
        top: 0;
        right: 100%;
    }
    
    .side-info.right::after {
        right: calc(100% - 1px);
    }

    .log-info {
        margin: 50px 36px;
        align-items: flex-start
    }

    .personal {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .log-info .personal-details {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 24px;
    }

    .big-title {
        margin-bottom: 32px;
        font-size: 30px;
        line-height: 35px;
    }

    .log-btn img {
        width: 17px;
    }

    /*********** register.html *********/
    .register .col-lg-6 {
        order: -1;
    }

    .side-info.left::after {
        left: calc(100% - 1px);
    }

    .register .log-info {
        margin: 50px 21px;
        align-items: flex-start
    }

    .register .log-info .personal-details {
        width: 221px;
    }

    .register .big-title {
        font-size: 24px;
        width: 100%;
        max-width: 122px;
        margin-bottom: 39px;
    }

    .upload-submit {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .uploading {
        width: 84px;
        height: 84px;
    }

    .upload-img .add-img .type {
        width: 116px;
    }

    .signing-up .signing-text {
        margin-left: 20px;
    }

    .custom-radio i {
        top: 2px;
    }

    .m-form .log-footer .title {
        margin-bottom: 30px;
    }

    .b-form .log-footer .title {
        margin-bottom: 30px;
    }

    /* Start Business User submit Modal */
    .custom-modal .modal-card .card-content button {
        width: 262px;
        height: 65px;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 24px;
    }

    .custom-modal .modal-card .card-content button span {
        display: block;
    }
    /* End Business User submit Modal */

    /*************** reset-password.html **********/
    .resetPass-head p {
        line-height: 24px;
        font-size: 14px;
        width: 100%;
        max-width: 199px;
    }

    .reset-password .form-btn {
        margin-bottom: 30px;
        width: 100%;
        max-width: 100px;
    }

    .reset-password .email {
        margin-bottom: 30px;
    }

    .back-login {
        margin-bottom: 30px;
    }

    /*********** confirmation-message.html *********/
    .confirm-msg .col-lg-6 {
        order: -1;
    }

    .confirm-message .check-email {
        font-size: 16px;
        width: 100%;
        margin-bottom: 30px;
        line-height: 24px;
    }

    .confirm-message .chck-email p {
        font-size: 14px;
        width: 100%;
        margin-bottom: 30px;
        line-height: 24px;
    }

    .confirm-message .recieve-email p {
        font-size: 14px;
        line-height: 24px;
        font-family: 'raleway';
    }

    .confirm-message .recieve-email p.spam {
        font-size: 14px;
    }

    .confirm-message .recieve-email div.or {
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 24px;
    }

    .confirm-message .recieve-email .log-btn {
        margin-bottom: 30px;
    }

    .confirm-message .not-recieve {
        max-width: 100%;
    }

    .confirm-message .recieve-email .log-btn img.cancel {
        width: 20px;
    }

    .confirm-msg .log-info {
        margin: 50px 36px;
    }

    .confirm-msg .big-title {
        font-size: 24px;
        line-height: 29px;
        max-width: 122px;
        margin-bottom: 39px;
    }

    /*********** new-password.html *********/
    .new-pass p.reset-pass-request {
        font-size: 14px;
        margin-bottom: 30px;
        width: 100%;
        max-width: 143px;
        line-height: 24px;
    }

    .new-pass .log-btn {
        margin-bottom: 30px;
    }

    /********** myProfile-wins.html ************/
    .myProfile-tabs {
        overflow-x: auto;
    }

    .myProfile-tabs .prof-tabs {
        justify-content: flex-start;
    }

    .wins-content {
        padding: 50px 0 20px;
    }

    .profile-details .user-data {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 29px;
    }

    .profile-details .user-data .user-img {
        margin-right: 20px;
        width: 84px;
        height: 84px;
        margin-bottom: 0;
    }

    .profile-details .user-data .user-name {
        font-size: 16px;
        margin-bottom: 0;
    }

    .profile-details .info-row span.num {
        font-size: 12px;
        font-family: 'sans';
    }

    .profile-details .user-info {
        margin-bottom: 50px;
    }

    .profile-details .user-info .bio {
        font-size: 16px;
    }

    .profile-details .user-info p {
        font-size: 14px;
    }

    .box .box-img {
        width: 164px;
        height: 298px;
        max-width: 100%;
        max-height: 100%;
    }

    .box .wins-cup {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 0;
    }

    .box .wins-cup .cup-img {
        width: 71px;
        height: 62px;
        margin-bottom: 20px;
    }

    .box .icon-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /********** myProfile-following.html ************/
    .following-content {
        padding: 50px 0 20px;
    }

    .user-box .user-img {
        width: 66px;
        height: 66px;
        margin-bottom: 10px;
    }

    .user-box .user-name {
        font-size: 12px;
        margin-bottom: 10px;
        line-height: 14px;
    }

    .user-box .user-box-btn span {
        font-size: 12px;
        line-height: 14px;
    }

    /********** myProfile-collections.html ************/
    .collections-content {
        padding: 50px 0 20px;
    }

    .collec-btn {
        width: 100%;
        height: 123px;
    }

    .collec-btn img {
        width: 17px;
        height: 17px;
        margin-bottom: 13px;
    }

    .collec-btn .tit {
        line-height: 24px;
    }

    .collec-box .box-title {
        margin-top: 20px;
    }

    .collec-box a img {
        width: 100%;
        max-width: 100%;
        height: 123px;
        max-height: 100%;
    }

    /* Modal */
    .collections-content .custom-modal .modal-card .card-content .form-btns {
        justify-content: flex-start;
    }

    .collections-content .custom-modal .modal-card .card-content .form-btns .log-btn {
        width: 40px;
        height: 40px;
        max-width: 100%;
        padding: 8px;
        justify-content: center;
    }

    .collections-content .custom-modal .modal-card .card-content .form-btns .log-btn[type='reset'] {
        margin-right: 20px;
    }

    .collections-content .custom-modal .modal-card .card-content .form-btns .log-btn span {
        display: none;
    }

    .collections-content .custom-modal .modal-card .card-head {
        padding: 30px 20px 30px 50px;
    }

    .collections-content .custom-modal .modal-card .card-head .tit {
        line-height: 29px;
    }

    .collections-content .custom-modal .modal-card .card-content {
        padding: 0px 50px 30px;
    }

    /********** myProfile-my-sets.html ************/
    .profile-details .create-set {
        margin-bottom: 30px;
    }

    .box .box-tit {
        font-size: 16px;
        line-height: 24px;
        width: 123px;
        max-width: 100%;
        margin: 20px 0 10px;
    }

    .box .box-p {
        font-size: 14px;
        line-height: 24px;
    }

    .box .btns {
        visibility: visible;
        opacity: 1;
        transform: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        margin: 30px 0;
        left: 0;
    }

    .box:hover .btns {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
}

    .box .btns .log-btn.edit {
        width: 40px;
        height: 40px;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        margin-right: 19px;
    }

    .box .btns .log-btn.edit img {
        width: 11px;
        height: 11px;
    }

    .box .btns .log-btn.delete {
        width: 40px;
        height: 40px;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ECECEC;
    }

    .box .btns .log-btn.delete img {
        width: 17px;
        height: 15px;
    }

    .box .box-btns {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .box .btns .log-btn.view-contest {
        display: none;
    }

    .box .price-cup {
        position: relative;
        width: 40px;
        height: 40px;
    }

    .box .price-cup img {
        width: 25px;
        height: 22px;
    }

    /********** myProfile-my-sets-details.html ************/
    .sets-details {
        padding: 30px 0;
    }

    .set-view {
        margin-bottom: 30px;
    }

    .sets-details .set-img {
        /* width: 342px; */
        height: 623px;
        max-width: 100%;
        margin-bottom: 29px;
    }

    .sets-details .set-title {
        font-family: 'raleway-m';
        font-size: 16px;
        line-height: 24px;
        width: 123px;
        max-width: 100%;
    }

    .sets-details .set-desc {
        font-size: 14px;
        line-height: 24px;
    }

    .sets-details .set-data .btns .log-btn {
        width: 163px;
        height: 50px;
        max-width: 100%;
        padding: 19px 20px; 
    }

    .sets-details .set-data .btns .log-btn span {
        display: block;
        font-size: 12px;
        line-height: 24px;
    }

    .edit-del-btns {
        justify-content: flex-start;
    }

    .sets-details .set-data .btns .log-btn.edit {
        margin-right: 19px;
    }

    .sets-details .set-data .btns .log-btn.delete,
    .sets-details .set-data .btns .log-btn.edit {
        width: 40px;
        height: 40px;
        max-width: 100%;
        justify-content: center;
    }

    .sets-details .set-data .btns .log-btn.delete span,
    .sets-details .set-data .btns .log-btn.edit span {
        display: none;
    }

    /* Start Comments */
    .comments {
        padding: 30px 0;
    }

    .comments .comment-area .user-img {
        width: 46px;
        height: 46px;
    }

    .comments .comment-area .write-comment textarea::placeholder {
        font-size: 12px;
        line-height: 14px;
    }

    .comments .user-comments {
        margin-bottom: 30px;
    }

    .comments .user-comments .comment-details .user-info .user-name {
        font-family: 'raleway-m';
        font-size: 12px;
        line-height: 14px;
    }

    .comments .user-comments .comment-details .user-info .date {
        font-family: 'sans';
        font-size: 12px;
    }

    .comments .user-comments .comment-details .user-comment {
        font-size: 14px;
        line-height: 24px;
    }

    /* start Items Used */
    .items-used {
        padding-bottom: 0;
    }

    .items-used .box .btns {
        display: none;
    }

    .items-used .box .box-btn {
        display: none;
    }


    /********** help.html ************/
    .help-head .left {
        display: flex;
        align-items: flex-start;
    }

    .help-head .tite {
        width: 50%;
    }

    .help-head .left .behind-u {
        width: 50%;
        font-size: 42px;
        line-height: 49px;
    }

    .collapse-box .collapse-btn .btn-txt {
        max-width: 294px;
        width: 100%;
        overflow: hidden;
    }

    /*********** terms-of-services ********/
    .terms-head {
        padding: 50px 0;
    }

    .terms-content {
        padding: 53px 0 50px;
    }

    .terms-content p:not(.t-title) {
        font-size: 14px;
        margin-bottom: 50px;
    }

    .terms-content p.t-title {
        margin-bottom: 30px;
        width: 194px;
    }

    /*********** data-feed ********/
    .data-feed-head {
        padding: 50px 0;
    }

    .data-feed-content .feed-table {
        overflow: auto;
    }

    .data-feed-head .tite div {
        width: 275px;
    }

    .data-feed-content {
        padding: 50px 0;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 575px) {

}



@media (min-width: 993px) and (max-width: 1024px) {
    /*************** reset-password.html **********/
    .reset-password .form-btn button[type='reset'] {
        margin-right: 15px;
    }

    .reset-password .form-btn button[type='submit'] {
        margin-left: 15px;
    }

    /********** help.html ************/
    .help-head .left {
        display: flex;
        align-items: flex-start;
    }

    .help-head .tite {
        width: 50%;
    }

    .help-head .left .behind-u {
        width: 50%;
    }
}