/*===========================================// Media //=============================*/

@media(max-width: 1200px) {
	.colors-container
	{
		grid-template-columns: repeat(8, 1fr);
	}
}
@media(max-width: 1170px) {

	/*    header*/

	.header .logo-side .logo {
		max-width: 150px;
	}

	.main-nav .nav-list .mynav-link,
	.icons-side .log-link {
		font-size: 12px;
	}

	.main-nav .nav-list .mynav-link,
	.icons-side .log-link,
	.user-btn.drpo-btn,
	.icons-side .ico-link img {
		margin: 0 15px;
	}

	.icons-side .log-link:last-of-type {
		margin-right: 20px;
	}

	.icons-side .ico-link img {
		width: 20px;
	}

	.icons-side .ico-link::before {
		height: 12px;
	}

	.nav-btn {
		width: 20px;
		margin-right: 20px;
	}

	.search-input.open {
		padding: 30px 0;
		height: 141px;
	}

	.search-input .srch-input {
		font-size: 30px;
		margin-bottom: 15px;
	}

	.search-input .info {
		font-size: 12px;
	}
	
	.brand-box .info
	{
		/* transform: none; */
		position: static;
		margin-bottom: 30px;
		width: 100%;
	}
	.brand-box .info .tit-content
	{
		font-size: 24px
	}
	.brand-box .info .info-content
	{
		font-size: 14px
	}
	.brand-box .info .side-folow-btn
	{
		position: static;
		color: #fff;
		font-size: 12px;
	}


	/*    header*/

 
	/*    header*/

	.main-header {
		display: none;
	} 

	.header-container-m {
		display: block !important;
	}

	/*    header*/

	/*    brands*/

	.myProfile-tabs {
		display: block;
	}

	/*    brands*/
}

@media (max-width: 1085px) {
	.weird-header {
		padding: 50px 0;
	}

	.weird-header .main-tit {
		font-size: 45px;
		padding: 0;
		margin: 0 0 30px;
		line-height: 54px;
		background-color: transparent;
		width: 313px;
		max-width: 100%;
		margin-top: -30px;
	}

	.weird-header .weird-shape,
	.page404-container.weird-header .weird-shape {
		position: relative;
		width: 100%;
		height: 177px;
		writing-mode: inherit;
		border-width: 5px;
	}

	.page404-container.weird-header .weird-shape::before
	{
		display: none;
	}
	.weird-header .weird-shape::before
	{
		content: '';
		display: block;
		position: absolute;
		width: 50%;
		height: 40px;
		bottom: -5px;
		left: -5px;
		background-color: #fff;
		min-width: 200px;
	}

	.page404-container.weird-header .weird-shape p,
	.weird-header .weird-shape p
	{
		transform: none;
	}
	.page404-container.weird-header .main-tit
	{
		font-size: 107px;
		line-height: normal;
		margin-top: -74px;
		background: #fff;
		display: inline-block;
		width: auto;
		margin-bottom: 0;
		padding: 0 20px;
		margin-bottom: 30px;
	}
	.page404 .main-title
	{
		text-align: left;
	}
	.page404 .info-content
	{
		text-align: left;
	}
	.weird-header.page404-container
	{
		text-align: center;
	}

	.weird-header .info .info-row {
		justify-content: space-between;
	}

	.weird-header .info .info-row .info-content {
		font-size: 12px;
		width: 60%;
	}

	.weird-header .info .info-row a {
		font-size: 12px;
		width: auto;
	}

	.weird-header .weird-shape img {
		margin-bottom: 0;
		margin-right: 10px;
	}

	.weird-header .info .info-content {
		font-size: 14px;
	}

	.weird-header .info .tit {
		font-size: 24px;
	}

	.weird-header .justify-content-end {
		justify-content: flex-start !important;
	}
}

@media (max-width: 992px) {
	.newsfeed > .container > .row > .col-12:nth-child(1) {
		order: 1
	}

	.newsfeed > .container > .row > .col-12:nth-child(2) {
		order: 3
	}

	.newsfeed > .container > .row > .col-12:nth-child(3) {
		order: 2
	}

	.newsfeed .owl-contest .item {
		height: 255px;
	}

	.myProfile-tabs {
		overflow: hidden;
		overflow-x: auto;
	}

	.filter .box .btns {
		display: none;
	}
}

@media (max-width: 768px) {

	/*    header*/

	.header-m.header .icons-side .ico-link img {
		margin: 0 15px;
	}

	.header .logo-side .logo {
		height: 24px;
	}

	.header-m.header .nav-btn-m {
		margin-right: 15px;
	}

	.header-m.header {
		padding: 30px 11px 30px 26px;
	}

	.main-img .log-btn {
		right: 35px;
	}
	
	.log-btn
	{
		padding: 0 5px !important;
		width: 40px;
		height: 40px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
	}
	/*    header*/

	/*    footer*/

	.footer .foot-content .row {
		-ms-align-items: flex-start;
		align-items: flex-start;
	}

	.foot-tit {
		font-size: 24px;
		margin-bottom: 30px;
		width: 76px;
		font-weight: bold;
	}

	.footer .footer-head .container .info-content {
		margin-bottom: 15px;
		font-size: 14px;
		width: 223px;
	}

	.footer .footer-head .container .info-content.confirms {
		width: auto;
	}

	.foot-link {
		font-size: 12px;
	}

	.footer .foot-content .foot-logo {
		width: 75px;
	}

	.foot-tit.social-tit {
		font-weight: bold;
		width: auto;
		margin-top: 0;
	}

	.footer .col-md-4 .foot-tit.social-tit {
		margin-top: 30px;
	}

	.footer .social ul li {
		margin-right: 5px;
	}

	.footer .social ul li i {
		font-size: 22px
	}

	.footer .foot-content .container::before {
		right: calc(100% - 30px);
	}

	.footer .footer-head .container {
		padding-left: 30px;
		margin-right: auto;
		width: 91%;
		margin-left: 0;
	}

	.news-form {
		width: 100%;
	}

	.footer .social ul li a {
		width: 30px;
		height: 30px;
	}

	/*    footer*/

	/*    .about-us */
	.weird-header .main-tit.about {
		margin-bottom: 0;
	}

	.weird-header .info.about {
		margin-top: 0;
	}

	.weird-shape.about::before {
		width: 85%;
	}

	.weird-header .main-tit.about {
		padding-left: 0;
	}

	.socialize {
		padding-bottom: 0;
		position: relative;
		overflow: hidden;
		margin-bottom: 50px;
		margin-top: 0;
	}

	.socialize .container {
		padding: 0 35px;
	}

	.socialize .relative::before {
		content: '';
		position: absolute;
		display: block;
		bottom: 0;
		left: 50%;
		width: 1000px;
		height: 50%;
		background-color: #fff;
		transform: translateX(-50%)
	}

	.socialize .relative .row {
		position: static;
		transform: none;
		margin: 0;
		margin-top: 30px;
	}

	.socialize .relative .row .col-6:first-child {
		padding-left: 0;
		padding-right: 6px;
	}

	.socialize .relative .row .col-6:last-child {
		padding-right: 0;
		padding-left: 6px;
	}

	.inspire .container,
	.the-name .container {
		padding: 0 35px;
	}

	.inspire {
		margin-bottom: 30px;
	}

	.inspire .col-12:last-child {
		order: -1
	}

	.the-name {
		margin-bottom: 50px;
	}

	/*    .about-us */

	/*    .news-box */

	.news-box .img {
		height: 260px;
		margin-bottom: 20px;
	}

	.news-box .tit,
	.news-box .info-content {
		margin-bottom: 20px;
	}

	.newsfeed {
		padding-top: 30px;
	}

	.title-container .more {
		width: auto;
	}

	.news-box .tit .name .name-txt {
		font-size: 14px
	}

	.news-box .icons {
		padding-top: 20px;
		position: relative;
	}

	.news-box .icons::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #ECECEC;
		width: 55px;
		height: 3px;
	}

	/*    .news-box */


	/*    .whats-box */
	.whats-box .img {
		height: 300px;
	}

	.whats-new {
		padding-top: 50px;
		padding-bottom: 0;
	}

	.whats-new .col-6 {
		padding-right: 0;
	}

	/*    .whats-box */


	/*    .BRANDS */
	.brands {
		padding-top: 30px;
	}

	.brands .brand-img {
		margin-bottom: 30px;
		max-width: 70%
	}

	.brands .row .col-6:nth-child(even) .brand-img {
		margin-left: auto;
	}

	/*    .BRANDS */


	/*    .exclusive */
	.exclusive .container {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	/*    .exclusive */

	.container {
		padding-right: 35px;
		padding-left: 35px;
	}

	/*    .business-section*/

	.business-section {
		margin-bottom: 30px;
	}

	.business-section .container {
		padding-top: 0;
		padding-bottom: 0;
		background-color: transparent;
	}

	.business-section .business-content > .row {
		background-color: #ECECEC;
		padding-top: 30px;
		padding-bottom: 30px;
		margin-right: 0;
		margin-left: 0;
	}

	.business-section .container .col-12 .tit {
		margin-bottom: 30px;
		font-family: 'raleway-bo';
	}

	.contest-tit.white .main-title {
		margin-bottom: 30px;
	}

	.hashtags .log-white {
		margin-bottom: 30px;
	}

	.create-set-section .log-btn {
		margin-bottom: 30px;
	}

	/*    .business-section*/



	/*    .news-feed page*/

	.newsfeed .owl-contest .item {
		height: 365px;
	}

	.newsfeed .owl-carousel .owl-stage-outer {
		overflow: visible;
	}

	.newsfeed .owl-carousel .owl-stage-outer .box .box-img {
		width: 100%;
		height: 630px;
	}

	.newsfeed .owl-carousel .owl-stage-outer .box .box-img img {
		width: 100%;
	}

	.newsfeed .contest-side .log-btn {
		margin: auto;
		top: -52px;
		position: relative;
		z-index: 9;
	}

	.newsfeed .owl-sets .owl-dots,
	.newsfeed .owl-contest .owl-dots {
		display: none;
	}

	.folow-row {
		padding-bottom: 30px;
		margin-bottom: 30px;
	}

	/* .newsfeed .container {
		padding-right: 0;
		padding-left: 0;
	} */

	/* .newsfeed > .container > .row {
		margin-right: 0;
		margin-left: 0;
	} */

	/* .newsfeed > .container > .row > .col-12 {
		padding-right: 35px;
		padding-left: 35px;
	} */

	.custom-modal .modal-card.report-catd .card-content {
		padding: 20px;
	}

	.save-to-dropdown .drop-mnu {
		width: 85vw;
	}

	.custom-modal.galler-modal.show .modal-card.report-catd .gallery-content {
		height: 50vh;
	}

	.log-btn span {
		display: none !important;
	}

	.save-to-dropdown .new-collection-box .new-collection-form .form-group {
		margin-bottom: 10px;
	}

	.custom-modal .modal-card.report-catd .btns {
		justify-content: flex-start;
	}

	.custom-modal .modal-card .card-content button {
		width: 40px;
		height: 40px;
		padding: 0;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
	}

	.custom-modal .modal-card .card-content button:first-child {
		margin-right: 20px;
	}

	.sent-modal.custom-modal .modal-card .card-content {
		text-align: center;
	}

	.sent-modal.custom-modal .modal-card .card-content .log-btn {
		display: inline-block;
	}

	.sent-modal.custom-modal .modal-card .card-content .log-btn:nth-of-type(2) {
		margin-left: 20px;
	}

	.profile-data .log-btn {
		padding-top: 0;
		padding-bottom: 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
		max-width: none;
		height: 40px;
	}

	.newsfeed .other-side .log-btn {
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		display: inline-flex;
		margin-right: 20px;
	}

	.other-options {
		min-width: 282px;
		z-index: 99;
		right: 50%;
		transform: rotateX(-90deg) rotateY(10deg) perspective(600px) translateX(-50%);
	}

	.other-options.drop-mnu.open {
		transform: translateX(50%);
	}

	.newsfeed .other-side {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}

	.newsfeed .other-side .drop-container {
		display: inline-block;
	}

	.newsfeed .other-side > .log-btn:first-child {
		padding-top: 12px;
	}

	.newsfeed .other-side .drop-container::after,
	.newsfeed .other-side .drop-container::before {
		left: 40%;
		transform: translateX(-50%);
	}

	/*    .news-feed page*/


	/*    filter page*/

	.filter {
		padding: 30px 0 0;
	}

	.down {
		position: relative;
	}

	.filter .box .btns {
		display: none;
	}

	.down .box-tit {
		padding-right: 15px;
	}

	.down .save {
		position: absolute;
		top: 0;
		right: 0;
	}

	.log-btn.reset {
		padding-top: 8px;
	}

	.filter .filter-form .log-btn {
		margin-right: 20px;
	}

	.filter .filter-form .btns {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.filter .items-head .drpo-btn {
		border-color: #ECECEC;
		width: auto;
		height: 40px;
		width: 40px;
		padding: 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
	}

	.filter .items-head .drpo-btn img {
		width: 20px;
	}

	.close-filter,
	.open-filter {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.result-col,
	.filter-col {
		display: none;
	}

	.result-col.open,
	.filter-col.open {
		display: block;
	}

	.close-filter {
		margin-left: auto;
		margin-right: 0;
		margin-bottom: 30px;
	}

	.other-options.drop-mnu.open {
		transform: none;
		right: 0;
	}

	.items-head .location-drop-btn.container-poend::after,
	.items-head .location-drop-btn.container-poend::before {
		right: 50% !important;
		left: auto !important;
		transform: translate(50%)
	}

	.box .box-price {
		font-size: 12px
	}

	.news-box.newsfeed-box.newsfeed-box-search {
		display: block;
	}

	.news-box.newsfeed-box.newsfeed-box-search > * {
		width: 100%;
		margin: 0 !important;
	}

	.news-box.newsfeed-box.newsfeed-box-search > *:first-child {
		margin-bottom: 30px !important;
	}
	
	
	.res-collapse.myProfile-tabs
	{
		position: relative;
		padding: 0;
		overflow: visible;
	}
	.myProfile-tabs.res-collapse ul
	{
		position: absolute;
		top: 100%;
		left: 0;
		background-color: #000;
		z-index: 999 ;
		flex-direction: column;
		width: 100%;
		padding: 20px;
		padding-bottom: 0;
		max-height: 0;
		padding: 0;
		overflow: hidden;
		transition: .5s;
		border-bottom: 1px solid #999;
	}
	.myProfile-tabs.res-collapse ul.open
	{
		padding: 20px;
		padding-bottom: 0;
		max-height: 500px;
	}
	.res-collapse ul li
	{
		margin-bottom: 20px;
		padding-top: 20px;
		border-top: 1px solid rgba(125, 125, 125, 0.1)
	}
	.res-collapse .col-btn
	{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 100%;
		padding: 20px;
		-ms-align-items: center;
		align-items: center;
		justify-content: space-between;
		background-color: #000;
		color: #fff;
		font-size: 12px;
		text-transform: uppercase;
		cursor: pointer;
	}
	.res-collapse .col-btn img
	{
		width: 10px;
	}
	.box.search-item-box .log-btn
	{
		display: none;
	}
	.box.box-sq .box-img
	{
		width: 100%;
	}
	.box.box-sq .box-img
	{
		height: 260px;
	}
	/*    filter page*/
	
/*	brands*/
	.brand-box .img
	{
		height: 230px;
	}
	.brand-box.brand-box-head .container::before
	{
		transform: none;
		right: calc(100% - 36px);
	}
	.brand-box.brand-box-head .active-row .active-details
	{
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
	}
	.brand-box.brand-box-head .info
	{
		margin-bottom: 0;
		margin-top: -70px;
		padding: 30px;
		padding-left: 0;
	}
	.brand-box.brand-box-head .info .tit
	{
		margin-bottom: 30px;
	}
	.brand-box.brand-box-head .active-row .active-details p
	{
		width: 50%;
		font-size: 12px;
	}
	.brand-box.brand-box-head .active-row.code-details .active-details
	{
		text-align: center;
		background-color: #fff;
		padding: 20px 10px;
		margin-bottom: 30px;
		margin-top: 15px;
	}
	.brand-box.brand-box-head .active-row.code-details .active-details p
	{
		color: #000;
		margin-bottom: 0;
	}
	.brand-box.brand-box-head .img
	{
		height: 300px;
	}
	
/*	brands*/
	
	
	
/*	messages*/
	.online
	{
/*		display: none;*/
	}
	.msg-box .msg-content
	{
		max-width: 80%
	}
	.message-content
	{
		padding: 0;
	}
	.messages .msgs-side-container
	{
		padding: 0;
		border: 0;
/*		display: none;*/
	}
	.messages
	{
		padding-top: 30px;
	}
	.messages > .container
	{
		padding: 0;
	}
	.messages .message-content
	{
		padding: 0 35px;
	}
	.messages .mob-msg-head
	{
		padding: 0 35px 30px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.messages .msg-form-bar
	{
		padding: 0 35px;
	}
	.messages .online
	{
		padding: 0 35px;
		height: auto;
	}
	.messages .close-msg
	{
		width: 40px;
		height: 40px;
		background-color: #000;
		cursor: pointer;
	}
	.messages .close-msg img
	{
		width: 17px;
	}
	
/*	messages*/
	
/*	business user profile*/
	.b-profile-head
	{
		padding: 30px 0;
		margin-bottom: 0;
	}
	.b-profile-head .row
	{
		-ms-align-items: center;
		align-items: center;
	}
	.b-profile-head .cho-file
	{
		margin-bottom: 30px;
	}
	.b-profile-head .up-btn
	{
		display: inline-block;
		padding: 5px;
		margin-right: 20px;
		margin-bottom: 0;
	}
	.b-profile-head .grid-controll
	{
		margin-top: 0;
	}
	.b-profile-head .up-btn + a
	{
		font-size: 12px;
		display: inline-block;
	}
	.profile-table .container.in-list
	{
		overflow: auto
	}
	.profile-table .container.in-list .thead 
	{
		white-space: nowrap
	}
	.profile-table .table .general
	{
		display: block;
	}
	.drop-mnu.table-dropdown
	{
		left: -10px;
	}
	.profile-table .table .general .options
	{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-top: 10px;
	}
	.profile-table .table .general .options *
	{
		width: 50%;
		margin-bottom: 10px;
	}
	.profile-table .table .general .options *:nth-child(1)
	{
		order: 1
	}
	.profile-table .table .general .options *:nth-child(2)
	{
		order: 3
	}
	.profile-table .table .info-content
	{
		width: 154px;
		font-weight: bold;
	}
	.profile-table .in-list.container
	{
		padding: 0;
		width: 100%;
		max-width: 100%;
	}
	.table .tr .td:first-child
	{
		border-width: 1px
	}
	.table .tr .td
	{
		border-right-width: 0
	}
	.table .tr .td
	{
		padding-right: 10px;
		padding-left: 10px;
	}
	.profile-table .grid-head .first-sort
	{
		margin-top: 30px;
	}
	.profile-table .row .general .img
	{
		height: 230px;
	}
	
/*	business user profile*/

	.brand-box .info {
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
	}
	.custom-checkbox
	{
		width: 30%;
		margin-bottom: 10px;
	}
	.drop-mnu.size-mnu
	{
		justify-content: flex-start;
		padding-bottom: 10px;
	}
	.edite-item .form-btns
	{
		justify-content: flex-start;
	}
	.edite-item .form-btns .log-btn
	{
		width: 40px;
		height: 40px;
	}
	.edite-item .form-btns .log-btn:first-child
	{
		margin-right: 20px;
	}
}

@media (max-width: 525px) {
	.newsfeed .owl-contest .item {
		height: 265px;
	}
	.b-profile-head .up-btn
	{
		margin-bottom: 10px;
	}
	.notification-p .notifi-mnu .n-img
	{
		display: none;
	}

	.filter .box .box-img {
		width: 100%;
		height: 468px;
	}
}

@media (max-width: 375px) {
	.title-container .main-title {
		font-size: 18px
	}

	.title-container .more {
		font-size: 12px
	}

	.container {
		padding-right: 15px;
		padding-left: 15px;
	}
	.comments .user-comments .comment-details,
	.comments .comment-area .write-comment
	{
		max-width: 75%
	}
	.footer .foot-content .foot-logo
	{
		max-width: 60%;
	}
	.help-head .left .behind-u
	{
		font-size: 30px
	}
	.correct, .email .wrong
	{
		top: -15px;
	}

}

@media (max-width: 922px) {
	.filter .box .box-img {
		width: 100%;
		height: 468px;
	}
}
